body {
	font-family: 微软雅黑;
  min-height: 1000px;
  padding-top: 70px;
  background-color: #E9EAED;
}

.navbar-default navbar-fixed-top container{
	background-color: #FFFFFF;
}

li a{
	color: #777777;
}
.footer li a:hover{
	color: white;
	text-decoration: none;
}
.thumbnail a:hover{
	text-decoration: none;
}
.media-object img-thumbnail avatar avatar-middle{
	width: 44px;
	height: 44px;
}
.thumbnail:hover{
/*调用animation属性，从而让按钮在载入页面时就具有动画效果*/
    -webkit-animation-name: "fudong"; /*动画名称，需要跟@keyframes定义的名称一致*/
    -webkit-animation-duration: 0.5s;/*动画持续的时间长*/
    margin-top: -7px;
}

@-webkit-keyframes 'fudong' {
   from {
       margin-top: 0px;
     }
   to {
	margin-top: -7px;
    }
 }
 .media{
  margin-top: 0px;
  display: inline;
  padding: 6px 10px 6px 10px;
  border-right: none;
  border-left: none;
 }
 a.media-left img{
  height: 44px;
  width: 44px;
 }
.reply_last_time{
  float: right;
  margin-top: 3px;
}
.reply_last_time:hover{
  color: black;
  text-decoration: none;
}
 .media-heading a:hover{
  color: black;
  text-decoration: none;
}
.panel-footer{
  text-align: right;
  margin-top: -40px
}
.footer{
  background-color: #191E29;
  color: #777777
}
#footer-container{
  padding: 20px;
}

.footer-bottom{
  text-align: center;
  background-color: #171918;
  height: 40px;
  padding: 10px
}
.footer-bottom p a{
  color: #777777;
}
.footer-bottom p a:hover{
  color: white;
  text-decoration: none;
}
